@font-face {
  font-family: 'Chewy';
  src: url('../fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('../fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
  background: #69BF4A;
  background: linear-gradient(120deg, rgba(105, 191, 74, 1) 39%, rgba(150, 242, 153, 1) 100%);
}

#header-container {
  position: relative;
  transition: all 200ms;
}

#header-container:hover {
  transform: scale(1.01);
  text-shadow: 5px 5px 20px #417e2a, -5px -5px 20px #639e66;
}

#frogger-header {
  color: #124b17;
  font-family: 'Sniglet-Regular', sans-serif;
  font-weight: 1000;
  font-size: 8rem;
  z-index: 10;
  position: relative;
  transition: all 0.35s ease-in-out;
}

#frogger-icon {
  position: absolute;
  top: 30%;
  right: -75px;
  margin: 0;
  width: 150px;
  transform: rotate(20deg);
}

#froggerCanvas {
  margin-top: 0;
}

.canvas-container {
  position: relative;
  width: 600px;
  height: 800px;
}

#highscore-list {
  position: absolute;
  top: 165px;
  left: 80px;
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
